@tailwind base;
@tailwind components;
@tailwind utilities;
body{@apply bg-white text-black dark:bg-slate-900 dark:text-white transition-colors;} .container{max-width:1100px;margin:auto;padding:0 1rem;}